<div class="contact" id="contact">
  <div class="contact-inner">
    <h2 translate>contact.contact</h2>
    <p translate>contact.description</p>
    <div class="contact-links">
      <a href="https://www.linkedin.com/in/gabrielmornard" target="_blank" class="contact-btn">
        <img src="assets/images/icons8-linkedin-150.png" alt="LinkedIn" />
        LinkedIn
      </a>
      <a href="mailto:gabriel.mornard@gmail.com" class="contact-btn">
        <img src="assets/images/mail.png" alt="Email" />
        Email
      </a>
      <a href="https://github.com/GabrielMornard" target="_blank" class="contact-btn">
        <img src="assets/images/icons8-github-120.png" alt="GitHub" />
        GitHub
      </a>
    </div>
  </div>
</div>
