#liens{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 5px;
    border: 2px solid #941c46;
    border-radius: 25px;
    color: white;
    text-decoration: none;
    margin-top: 25px;
}
