.translatorBox {
    z-index: 3;
    position: fixed;
    width: auto;
    font-size: large;
    right: 0;
    top: 0; 
    margin: 10px; 
    background: rgb(24, 24, 24);
    color: white;
    margin-top: 10px;
    border: 2px solid #941c46;
    border-radius: 25px;
}
