<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="app.component.css">
</head>
<body>
    <div class="container">
        <div class="bubbles" id="bubbles"></div>
        <div class="navigation">
          <a href="#moi" (click)="scrollTo('#moi', $event)" translate>main.Moi</a>
          <a href="#projets" (click)="scrollTo('#projets', $event)" translate>main.Projet</a>
          <a href="#contact" (click)="scrollTo('#contact', $event)" translate>main.Contact</a>
        </div>                      
        <div>
          <select name="language" class="translatorBox" [(ngModel)]="language" id="language" (change)="changeLangue()">
              <option value="fr">Français</option>
              <option value="en">English</option>
          </select>
      </div>
        <div class="content" id="moi">
            
            <div class="section" >
                <h1 class="nom">Gabriel Mornard</h1>
                <p class="textAcceuil">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente repellendus maiores recusandae cupiditate, consequatur quam modi at. Accusamus illum ipsam nemo, totam eum, incidunt quae odio nam et sint fugiat.</p>
            </div>
            <div class="section" id="projets">
                <h1 class="projetTitle" translate>projet.myProject</h1>
                <div class="component">

                    <div class="projetsWeb" [routerLink]="['/web']" translate>projet.web</div>
                    <div class="android" [routerLink]="['/android']" translate>projet.android</div>
                    
                </div>
                <div class="theProject">
                    <router-outlet></router-outlet>
                </div>
            </div>
            <div class="section" id="contact">
                <h1 translate>contact.contact</h1>
            </div>
        </div>

    </div>
</body>
</html>