<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="app.component.css" />
    <script
      src="https://kit.fontawesome.com/8cd83ee89f.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="bubbles">
        @for (bubble of bubbles; track $index) {
          <span
            [style.--i]="bubble.speed"
            [style.left]="bubble.left"
            [style.top]="bubble.top"
          >
          </span>
        }
      </div>
      <div
        class="navigation"
        [class.hide-navbar]="isNavbarHidden"
        (click)="onNavbarClick()"
      >
        <a href="#moi" (click)="scrollTo('#moi', $event)" translate>main.Moi</a>
        <a href="#skills" (click)="scrollTo('#skills', $event)" translate
          >main.Skills</a
        >
        <a href="#myProject" (click)="scrollTo('#myProject', $event)" translate
          >main.Projects</a
        >
        <a href="#contact" (click)="scrollTo('#contact', $event)" translate
          >main.Contact</a
        >
      </div>
      <div>
        <select
          name="language"
          class="translatorBoxPC"
          [(ngModel)]="language"
          id="language"
          (change)="changeLangue()"
        >
          <option value="fr">Français</option>
          <option value="en">English</option>
        </select>
      </div>
      <div class="content">
        <div class="presentation" id="moi">
          <h1>Gabriel Mornard</h1>
          <p class="role-title" translate>main.Title</p>
          <p class="about-text" translate>main.Description</p>
          <div class="social-buttons">
            <a
              href="https://www.linkedin.com/in/gabrielmornard"
              target="_blank"
              class="social-btn"
            >
              <img src="assets/images/icons8-linkedin-150.png" alt="LinkedIn" />
            </a>
            <a
              href="https://github.com/GabrielMornard"
              target="_blank"
              class="social-btn"
            >
              <img src="assets/images/icons8-github-120.png" alt="GitHub" />
            </a>
            <a
              href="assets/cv/GabrielMornard_CV.pdf"
              download="CVGabrielMornard"
              class="social-btn"
            >
              <img src="assets/images/downloads.png" alt="CV" />
            </a>
          </div>
        </div>
        <div class="projet" id="skills">
          <div class="skills-header">
            <h2 translate>Skills.Title</h2>
          </div>
          <div class="skills-container">
            <div class="left">
              <div class="frontend">
                <h3>Frontend</h3>
                <div class="images">
                  <div class="imgParent">
                    <img
                      class="logo"
                      src="assets/images/typescript.png"
                      alt="TypeScript"
                    />
                    <h4>TypeScript</h4>
                  </div>
                  <div class="imgParent">
                    <img
                      class="logo"
                      src="assets/images/angular.png"
                      alt="Angular"
                    />
                    <h4>Angular</h4>
                  </div>
                  <div class="imgParent">
                    <img class="logo" src="assets/images/html.png" alt="Html" />
                    <h4>Html</h4>
                  </div>
                  <div class="imgParent">
                    <img class="logo" src="assets/images/css-3.png" alt="CSS" />
                    <h4>CSS</h4>
                  </div>
                </div>
              </div>
              <div class="frontend">
                <h3 translate="">Skills.BD</h3>
                <div class="images">
                  <div class="imgParent">
                    <img
                      class="logo"
                      src="assets/images/icons8-sql-50.png"
                      alt="MSSQL"
                    />
                    <h4>MSSQL</h4>
                  </div>
                  <div class="imgParent">
                    <img
                      class="logo"
                      src="assets/images/SQLite.png"
                      alt="SQLite"
                    />
                    <h4>SQLite</h4>
                  </div>
                </div>
              </div>
              <div class="frontend">
                <h3>IDE</h3>
                <div class="images">
                  <div class="imgParent">
                    <img
                      class="logo"
                      src="assets/images/icons8-vs-code-144.png"
                      alt="VS Code"
                    />
                    <h4>VS Code</h4>
                  </div>
                  <div class="imgParent">
                    <img
                      class="logo"
                      src="assets/images/icons8-visual-studio-144.png"
                      alt="Visual Studio"
                    />
                    <h4>Visual Studio</h4>
                  </div>
                  <div class="imgParent">
                    <img
                      class="logo"
                      src="assets/images/icons8-android-os-144.png"
                      alt="Android Studio"
                    />
                    <h4>Android Studio</h4>
                  </div>
                  <div class="imgParent">
                    <img
                      class="logo"
                      src="assets/images/intellij-idea.svg"
                      alt="
                      IntelliJ"
                    />
                    <h4>IntelliJ</h4>
                  </div>
                  <div class="imgParent">
                    <img
                      class="logo"
                      src="assets/images/docker.png"
                      alt="
                      Docker"
                    />
                    <h4>Docker</h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="right">
              <div class="frontend">
                <h3>Backend</h3>
                <div class="images">
                  <div class="imgParent">
                    <img
                      class="logo"
                      src="assets/images/c-sharp.png"
                      alt="C#"
                    />
                    <h4>C#</h4>
                  </div>
                  <div class="imgParent">
                    <img
                      class="logo"
                      src="assets/images/NET core.png"
                      alt="Dotnet"
                    />
                    <h4>Dotnet</h4>
                  </div>
                  <div class="imgParent">
                    <img
                      class="logo"
                      src="assets/images/icons8-spring-boot-144.png"
                      alt="Spring Boot"
                    />
                    <h4>Spring Boot</h4>
                  </div>
                  <div class="imgParent">
                    <img
                      class="logo"
                      src="assets/images/Firebase.png"
                      alt="Firebase"
                    />
                    <h4>Firebase</h4>
                  </div>
                </div>
              </div>
              <div class="frontend">
                <h3 translate>Skills.Mobile</h3>
                <div class="images">
                  <div class="imgParent">
                    <img
                      class="logo"
                      src="assets/images/icons8-java-144.png"
                      alt="Java"
                    />
                    <h4>Java</h4>
                  </div>
                  <div class="imgParent">
                    <img
                      class="logo"
                      src="assets/images/icons8-flutter-144.png"
                      alt="Flutter"
                    />
                    <h4>Flutter</h4>
                  </div>
                  <div class="imgParent">
                    <img
                      class="logo"
                      src="assets/images/icons8-dart-144.png"
                      alt="Dart"
                    />
                    <h4>Dart</h4>
                  </div>
                </div>
              </div>
              <div class="frontend">
                <h3 translate>Skills.Tools</h3>
                <div class="images">
                  <div class="imgParent">
                    <img
                      class="logo"
                      src="assets/images/icons8-github-120.png"
                      alt="GitHub"
                    />
                    <h4>GitHub</h4>
                  </div>
                  <div class="imgParent">
                    <img
                      class="logo"
                      src="assets/images/icons8-figma-144.png"
                      alt="Figma"
                    />
                    <h4>Figma</h4>
                  </div>
                  <div class="imgParent">
                    <img
                      class="logo"
                      src="assets/images/linux.png"
                      alt="Linux"
                    />
                    <h4>Linux</h4>
                  </div>
                  <div class="imgParent">
                    <img
                      class="logo"
                      src="assets/images/icons8-azur-144.png"
                      alt="Azure"
                    />
                    <h4>Azure</h4>
                  </div>
                  <div class="imgParent">
                    <img
                      class="logo"
                      src="assets/images/postman.svg"
                      alt="Postman"
                    />
                    <h4>Postman</h4>
                  </div>
                  <div class="imgParent">
                    <img
                      class="logo"
                      src="assets/images/icons8-bootstrap-144.png"
                      alt="Bootstrap"
                    />
                    <h4>Bootstrap</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="myProject" id="myProject">
          <div class="skills-header">
            <h2 translate>Skills.Title</h2>
          </div>
          <div class="container-project">
            <div class="child">
              <div class="left-content">
                <div class="description">
                  <p>This is a brief description of one of my projects.</p>
                </div>
                <a href="link-to-project-page.html" class="project-link"
                  >See Project</a
                >
              </div>
              <div class="image-container">
                <img src="assets/images/taskApp.png" alt="Project Image" />
              </div>
            </div>
            <div class="child">
              <div class="image-container">
                <img src="/assets/images/phone1.png" alt="Project Image" />
              </div>
              <div class="left-content">
                <div class="description">
                  <p>This is a brief description of another project.</p>
                </div>
                <a href="link-to-project-page.html" class="project-link"
                  >See Project</a
                >
              </div>
            </div>
          </div>
        </div>

        <div class="contact" id="contact"></div>
      </div>
    </div>
  </body>
</html>
