* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    background: #0c192c;
    scroll-behavior: smooth;
}
.container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}
.bubbles {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.bubbles span {
    position: absolute;
    width: 30px;
    height: 30px;
    background: #4fc3dc;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44,
                0 0 50px #4fc3dc,    
                0 0 100px #4fc3dc;
    animation: animate 15s infinite; 
    animation-duration: calc(125s / var(--i));

}
.bubbles span:nth-child(even) {
    background: #ff2d75;
    box-shadow: 0 0 0 10px #ff2d7544,
                0 0 50px #ff2d75,    
                0 0 100px #ff2d75;
}

.section {
    height: 100vh;
}

.translatorBox {
    position: fixed;
    width: auto;
    font-size: large;
    right: 0;
    z-index: 5;
    top: 0; 
    margin: 10px; 
    background: rgb(24, 24, 24);
    color: white;
    margin-top: 10px;
    border: 2px solid #941c46;
    border-radius: 25px;
}


.content {
    background: rgb(24, 24, 24);
    width: 80%;
    min-height: 100vh;
    position: relative;
    z-index: 2;
    color: white;
    margin-left: 10%;
    margin-right: 10%;
    border-left: 2px solid #941c46;
    border-right: 2px solid #941c46;
    overflow-y: auto;
    padding-top: 60px;
}

.projetTitle{
    border-bottom: 2px solid black;
    padding-left: 20px;
}
.nom{
    margin-bottom: 5px;
    text-decoration: underline;
    margin-left: 50px;
    margin-top: 225px;
}

#projets{
    background: #941c46;
    color: white;
}

.navigation {
    background: rgb(24, 24, 24);
    color: white;
    margin-top: 10px;
    border: 2px solid #941c46;
    border-radius: 25px;
    z-index: 3;
    width: auto; 
    height: 50px; 
    padding: 0 5%;
    position: fixed; 
    top: 0; 
    left: 50%; 
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation a {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 5px;
}

.theProject{
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    height: 85%;
    padding: 5px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.projetsWeb{
    width: 50%;
    border-radius: 5px;
    border-right: 1px solid black;
    border-top: 1px solid black;
    text-align: center;
    border-bottom: 1px solid black;
    padding: 5px;
}
.android:hover{
    cursor: pointer;
    background: #77193a;
}
.projetsWeb:hover{
    cursor: pointer;
    background: #77193a;
}
.android{
    width: 50%;
    border-radius: 5px;
    border-left: 1px solid black;
    border-top: 1px solid black;
    text-align: center;
    border-bottom: 1px solid black;
    padding: 5px;
}
.component{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5px;
    border-radius: 5px;
    border-right: 1px solid black;
    border-left: 1px solid black;

}

.navigation a {
    color: white;
    text-decoration: none;
    padding: 0 15px;
    line-height: 50px; 
}

.moi{
    height:100%;
    overflow:hidden;
}

.textAcceuil{
    width: 300px;
    text-align: justify;
    margin-left: 50px;
}

@keyframes animate {
    0% {
        transform: translateY(100vh) scale(0);
    }
    100% {
        transform: translateY(-10vh) scale(1);
    }
}
